body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, rgb(202, 209, 217, 0.2) 0%, rgba(161, 170, 182, 0.2) 25%, rgb(121, 128, 129, 0.2) 25%, rgb(161, 175, 177, 0.5) 100%);
  box-shadow: 10px 10px 5px gray;
}

body, html {
  height: 100%;
  margin: 0;
}



html {
  box-sizing: border-box;
  font-family:
    /* Newer browsers */
    system-ui,
    /* Safari for OS X and iOS (San Francisco) */
    -apple-system,
    /* Chrome < 56 for OS X (San Francisco) */
    BlinkMacSystemFont,
    /* Windows */
    'Segoe UI',
    /* Android */
    Roboto,
    /* Basic web fallback */
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif,
    /* Emoji fonts */
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

h1{
    text-align: center;
    margin-top: -10%;
    
}

* {
  box-sizing: border-box;
}

.contactButton {
  border-radius: 50px;
  background-color: #578cad;
  font-size: medium;
  font-family: sans-serif;
  padding: 0.5em;
  cursor: pointer;
}

.titleContact, .titleWork {
  padding-top: 3.5em;
}

/* contact page */



.container {
  margin: 2em;
}

#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
  
}




.contact-info {
  font-weight: bold;
  
}

.main-info {
  display: flex;
  flex-direction: column;
  
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
}

.btn-primary {
  background-color: #578cad; 
  border: 1px solid rgb(9, 54, 232);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  cursor: pointer;
  
}

.submit-btn {
  padding-top: 10%;
  padding-bottom: 25%;
  
}

/* navbar */


.nav-item:active{
  font-weight: bold;
  
}

nav ul li a:hover {
  font-weight: bold;
  color: #578cad;
}

.active {

color: #578cad
}

nav {
  background-color: #b6bec1;
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  
  }

/* Work */

.work {
  display: grid;
  column-gap: 0.75em;
  
}

.work img {
  width: 100%;
  height: auto;
}

.intro {
  margin: auto;
  width: 100%;
  padding: 5em;
  font-family: sans-serif;
  font-size: larger;

}

.intro1 {
  text-align: center;
}



@media only screen and (min-width: 577px) {

  /*navbar*/


   
  ul {
    display: flex;
    list-style-type: none;
    margin: 2em;
    padding: 0;
    overflow: hidden;
    font-size: 1rem;
    }

  .nav-item a {
    
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    margin-left: 10px; /* Space between links */
    font-size: 2rem;
    }
  
  

  .logo {
    margin-left: 2em;
    font-size: 2rem;
  } 

  
  
  input[type='checkbox'] {
  display: none;}

  .checkbtn {
  display: none;
}

  body {
  padding-top: 20%;

}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*work*/

  .work {
    grid-template-columns: repeat(3, 1fr);
  }

  
  .title {
    padding-bottom: 5%;
  }
  /* about */

  #title {
    color: rgb(67, 89, 121);
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5em;
  }

  #left-img {
    max-width: 25%;
    height: auto;

  }

  #text-right {
    max-width: 100%;
    margin-left: 1.8em;
    font-size: 2rem;
  }

  /* contact */

  #contact-me {
    color: white;
    border-radius: 12px;
    padding: 10px;
  }

  #contact {
    color:aliceblue;
    text-decoration: none;

  }

  .btn-primary {
    padding-top: 7px;
  }

 
  
  


  

}




@media only screen and (max-width: 576px) {
  /* For mobile phones: */
  .checkbtn {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    right: 0;
    top: 0;
    display: block;
    position: absolute;
   }
  
   #check:checked ~ #main-menu {
    display: block;
   }
  
   nav input[type='checkbox']{
    display: none;}

  input[type='checkbox']:not(:checked) {
    display: none;}
    
  nav {
    background-color: #f9fbfc;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000; /* Ensure it's on top of other content */
    
    }

  nav label {
  float: right;
  }

  .nav-item a {
    margin-right: 2em;
    
    color: rgb(25, 172, 246);
    text-decoration: none;
    
  }

  .logo {
    display: none;
  }

  body {
    padding-top: 5em;
  }
  
  #main-menu {
    display: none;
    list-style: none;
  }
  
  /*about*/

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #left-img {
    max-width: 100%;
    height: auto;
  }

  #text-right {
    max-width: 100%;
    margin: 25px;
    font-size: 1em;
    color: rgb(255, 255, 255);
  }

  /*work*/

  .work {
    grid-template-columns: repeat(2, 1fr);
  }
 
  
}


  
